<h1>All our flats</h1>
    <div class="container mt-3">

      <div class="row">
  <% @flats.each do |flat|%>
      <div class="col-md-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4> <%= flat.name %></h4>
            </div>
            <p><%= flat.address %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price_per_night %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="/flats/642">More info</a>
            <a class="ms-3 text-warning" href="/flats/642/edit">Edit</a>
            <a data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="ms-3 text-danger" href="/flats/642">Remove</a>
          </div>
        </div>
      </div>
  <% end %>
    </div>

</div>
